# Discord configurations
DISCORD_TOKEN=your_discord_bot_token_here
WATCHED_CHANNEL_ID=123456789012345678
CONTEST_ROLE_ID=123456789012345678
DEV_GUILD_ID=<server id>

# PostgreSQL configurations (used by docker-compose and the bot)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=chowkidaar_db
NEON_DB_URL=postgresql://postgres:your_secure_password_here@localhost:5433/chowkidaar_db

# Clist.by configuration
CLIST_USERNAME=your_username_here
CLIST_API_KEY=your_api_key_here
